<html>
    <head>
        <meta charset = "utf-8">
        <title>Demo chat</title>
        <script src = "jquery.js"></script>
        <script src = "../socket.io/socket.io.js"></script>
        <script src = "handling.js"></script>
        <script>


        </script>
        <link rel = "stylesheet" type = "text/css" href = "layout.css">
    </head>
    <body>
        <div id = "wrapper">
            <div id = "loginForm">
                <h3>Please enter your name</h3> 
                <input type="text" id = "txtUsername" /> 
                <input type="button" value = "Register" id = "btnRegister" /> 
            </div>
            <div id = "JsonDisplay">
                <div id = "fpH">
                    <h3>pH Value</h3> 
                    <div id = "boxpH"></div> 
                    
                </div>
                <div id = "fEC">
                    <h3>EC Value</h3> 
                    <div id = "boxEC"></div> 
                </div>
                <div id = "fTemp">
                    <h3>Temperature Value</h3> 
                    <div id = "boxTemp"></div> 
                </div>
                <div id = "fPumpStatus">
                    <h3>Pump Status</h3> 
                    <div id = "boxpumpStatus"></div> 
                </div>

            </div>
            <div id = "chatForm">
                <div id = "left">
                    <div id = "boxTitle">User online</div>
                    <div id = "boxContent"></div>
                </div>


                <div id = "right">
                    <div id = "sayHi">Hello <span id = "currenUser">HuuThanhHung</span>
                        <input type="button" id = "btnLogout" value = "Logout"> 
                    </div> 
                    
                    <div id = "listMessage">
                    </div>
					<div id = "notify">
                        
                    </div>
                    <input type="text" id = "txtMessage">
                    <input type="button" id = "btnSendMessage" value = "Send">

                </div>

            </div>
        </div>
    <body>
<html>
