<html>
    <head>
        <meta charset = "utf-8">
        <title>Bach Khoa 2020</title>
        <script src = "jquery.js"></script>
        <script src = "../socket.io/socket.io.js"></script>
        <script src = "handling.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>


        </script>
        <link rel = "stylesheet" type = "text/css" href = "layout.css">
        <style >
            label{
              font-family: "Comic Sans MS", cursive, sans-serif;
            }
            text{
                font-family:Arial;
            }
            
        </style>
    </head>
    <body>
        <div id = "wrapper ">

            <form id = "loginForm">               
                <label for="tb_Usrname" id = "l_UrsNa">User Name</label> 
                <input type="text" id = "tb_Usrname" /> 

                <label for="tb_Psw" id = "l_Psw">Password</label>
                <input type="password" id = "tb_Psw" />

                <input type="button" value = "Log in" id = "btn_LogIn" />                           
                <input type="button" value = "Sign up" id = "btn_SignUp" /> 
                <br>
                <label id = "l_LoginFailed">Wrong User name or password!</label>
                <br>
                <br>
                <img id = "BachKhoa" src="BachKhoa_logo.png" width="200" height="200">
                
            </form>
            <form id = "signupForm">
                <div>
                    <label id = "l_SignUpName">NAME</label>
                    <br>
                    <input type="text" id = "tb_SignUpFirstNa" />
                    <input type="text" id = "tb_SignUpLastNa" />
                    <br>
                    <label for="tb_SignUpFirstNa" id = "l_SignUpFirstNa">First</label>
                    <label for="tb_SignUpLastNa" id = "l_SignUpLastNa" >Last</label>
                    
                </div>
                <br>
                <br>
                <div>
                    <label for="tb_SignUpUsrNa" id = "l_SignUpUsrNa">USER NAME</label>
                    <br>
                    <input type="text" id = "tb_SignUpUsrNa" />
                    <label id = "l_SignupFail">This User name has already used!</label>
                    <label id = "l_SignupFailedd">Please enter your UserName!</label>
                </div>
                <br>
                <br>
                <div>
                    <label for="tb_SigUpPassWord" id = "l_SignUpPsw" >PASSWORD</label>
                    <br>
                    <input type="password" id = "tb_SigUpPassWord" />
                    <label id = "l_SignupFailed">Please enter your password!</label>
                </div>
                <br>
                <br>
                <button onclick="goBack()" id = "btn_goback">Back</button>
                <input type="button" value = "Sign up" id = "btn_SignUp2" />
            </form>
            <form id = "JsonDisplay">
                <div id = "Right">                                 
                       
                    <div id = "fTemp">
                        <label>Temperature Value </label> 
                        <img src="temp.jpg" width="20" height="30">
                        <div id = "boxTemp"></div> 
                    </div>
                    <br>
                    <div id = "fPumpStatus6">
                        <label>Pump In</label> 
                        <div id = "boxpumpStatus6"></div> 
                    </div> 
                    <br>
                    <div id = "fStatus">
                        <label>Process</label> 
                        <img src="process.gif" width="25" height="25">
                        <div id = "boxStatus"></div> 
                    </div>
                    <br>
                </div>
                <div id = "left">
                    <div id = "fpH">
                        <label>pH Value</label> 
                        <img src="pH.png" width="20" height="30">
                        <div id = "boxpH"></div> 
                        
                    </div>
                    <br>
                    <div id = "fPumpStatus7">
                        <label>Pump Wash</label> 
                        <div id = "boxpumpStatus7"></div> 
                    </div>   
                    <br>
                    <div id = "fValve">
                        <label>Valve Status </label> 
                        <div id = "boxValveStatus2"></div> 
                    </div> 
                    <br>
                </div>
                <br>
                <br>
                <div id = "Mid">
                    <label>Date</label>
                </div>
                <br>
                <canvas id="myChart" ></canvas>
                <script src = "Line_chart.js">
                    
                </script>
                
            </form>
            
        </div>
    <body>
<html>
