/*form*/
#wrapper{width: 1000px ;margin : auto}
#signupForm{margin-left: 30%}

/*textbox*/
#tb_Usrname{background-color: transparent; border:solid 1px;height: 25px;}
#tb_Psw{background-color: transparent; border:solid 1px black;height: 25px;}
#tb_SignUpLastNa{margin-left: 10px;height: 25px;}
#tb_SignUpFirstNa, #tb_SignUpUsrNa, #tb_SigUpPassWord{height: 25px;}
#tb_failedMSG{height: 25px;border: none;}
#boxLastName{font-style: italic;color: rgb(54, 116, 248);}

/*button*/
#btn_LogIn  {background-color: #8dd8eb;border: blanchedalmond;border-radius: 8px;color: rgb(3, 3, 3);padding: 5px 10px;text-align: center;display: inline-block;font-size: 16px; left: 20}
#btn_SignUp, #btn_SignUp2{background-color: #8debcf;border: blanchedalmond;border-radius: 8px;color: rgb(3, 3, 3);padding: 5px 10px;text-align: center;display: inline-block;font-size: 16px;}
#btn_goback{background-color: #f2f7f6;border: blanchedalmond;border-radius: 8px;color: rgb(3, 3, 3);padding: 5px 10px;text-align: center;display: inline-block;font-size: 16px;}

/*lable*/
#l_SignUpName, #l_SignUpPsw, #l_SignUpUsrNa{font-family: "Comic Sans MS", cursive, sans-serif;font-weight: bold;}
#l_SignUpLastNa{margin-left: 150px;font-size: 15px;font-style: italic;}
#l_SignUpFirstNa{font-size: 15px;font-style: italic;}
#l_SignupFailedd, #l_SignupFailed, #l_SignupFail, #l_LoginFailed{color: red;}
#l_hello{color: rgb(47, 252, 252);}
#fTemp{color: red;}
#fpH{color: rgb(75, 192, 192);}
#tDate{color: orange}
/*box*/
/*chart*/
#myChart{height: 100;width: 400;}
/*form*/
#loginForm{background-image: image("/views/login_form.jpg");}
/*tb*/
#left,  #right,#Mid{min-height: 30px}
#left{width:20% ;float:left;}
#right{width:60% ;float:right;}
#Mid{font: bold;width:50% ;}
/*image*/
#BachKhoa{margin-left: 250 ;}


#boxTitle{border: solid 1px black;padding: 5px;text-align: center; font-weight: bold}
#boxContent{border: solid 1px black;border-top: none; padding: 5px;text-align: center}

#sayHi{text-align: right}
#listMessage{height: 200px;background-color: #044857; margin-bottom: 15px}

#txtMessage{background-color: transparent;border : solid 1px black}
/*<div id = "boxLastName"></div>*/